# Set the mail server to us to send alerts
set mailserver {{ email.server }} port {{ email.port }}

# Define Monit's mail structure
set mail-format {
  from: {{ email.from }}
  subject: Monit - state of service $SERVICE on $HOST changed
  message:
  $DESCRIPTION
}

set alert {{ email.to }}
