# Set the mail server to us to send alerts
set mailserver {{ monit.email.server }} port {{ monit.email.port }}

# Define Monit's mail structure
set mail-format {
  from: {{ monit.email.from }}
  subject: Monit - state of service $SERVICE on $HOST changed
  message:
  $DESCRIPTION
}

set alert {{ monit.email.to }}
