#!/bin/bash

echo -n '$cleaning-eap-server-logs - Cleaning logs file in {{ logs_cleaning.root_folder }} older than {{ logs_cleaning.nb_days_oldest }} matching pattern {{ logs_cleaning.filename_pattern }}.'
find -L {{ logs_cleaning.root_folder }} -mindepth 1 -mtime +{{ logs_cleaning.nb_days_oldest }} -name '{{ logs_cleaning.filename_pattern }}' -delete
echo 'Done.'
