#!/bin/bash

readonly MONIT_REPORT=$(mktemp)
readonly TITLE_TEMPLATE='Monit Weekly Report - Who watch the watcher ? [Status: '
deleteTmpFiles() {
  rm -f "${MONIT_REPORT}"
}

trap deleteTmpFiles EXIT

monit status 2>&1 > "${MONIT_REPORT}"
readonly MONIT_STATUS=$(grep -e 'status' output.log  | sed -e '/OK/d' -e '/Monitored/d' | wc -l)
if [ "${MONIT_STATUS}" -eq 0 ]; then
  readonly MSSG_TITLE="${TITLE_TEMPLATE} OK]"
else
  readonly MSSG_TITLE="${TITLE_TEMPLATE} KO]"
fi

cat "${MONIT_REPORT}" | \
  mailx -r "{{ email.to }}" -s "${MSSG_TITLE}" -S smtp="{{ email.server }}:{{ email.port }}" "{{ email.from }}"
