--
-- Data for Name: application_parameters; Type: TABLE DATA; Schema: public; Owner: mjolnir-preprod
--

{% for param in mjolnir.preprod.params %}
INSERT INTO public.application_parameters (param_name, param_value) VALUES ('{{ param.name }}', '{{ param.value }}');
{% endfor %}

--
-- Data for Name: github_orgs; Type: TABLE DATA; Schema: public; Owner: mjolnir-preprod
--

{% for org in mjolnir.preprod.github.orgs %}
INSERT INTO public.github_orgs (id, name, unsubscribe_users_from_org, subscriptions_enabled) VALUES ({{ org.id }}, '{{ org.name }}', {{ org.unsubscribe_users_from_org }} , {{ org.subscriptions_enabled }});
{% endfor %}

--
-- Data for Name: github_teams; Type: TABLE DATA; Schema: public; Owner: mjolnir-preprod
--

{% for team in mjolnir.preprod.github.teams %}
INSERT INTO public.github_teams (id, org_id, name, github_id) VALUES ({{ team.id }},{{ team.org_id }}, '{{ team.name }}', {{ team.github_id }});
{% endfor %}
