---
- job:
    name: {{ item.id }}
    project-type: pipeline
    parameters:
      - string:
          name: GIT_REPOSITORY_URL
          default: {{ item.git_repo }}
{% if item.git_branch is defined %}
      - string:
          name: GIT_REPOSITORY_BRANCH
          default: {{ item.git_branch }}
{% endif %}
{% if item.to_address is defined %}
      - string:
          name: TO_ADDRESS
          default: {{ item.to }}
{% endif %}
{% if item.harmonia_script is defined %}
      - string:
          name: HARMONIA_SCRIPT
          default: upgrade-components-report.sh
{% endif %}
{% if item.java_home is defined %}
      - string:
          name: JAVA_HOME
          default: {{ item.java_home }}
{% endif %}
{% if item.maven_home is defined %}
      - string:
          name: MAVEN_HOME
          default: {{ item.maven_home }}
{% endif %}
{% if item.maven_goals is defined %}
      - string:
          name: MAVEN_GOALS
          default: "{{ item.maven_goals }}"
{% endif %}
{% if item.maven_settings is defined %}
      - string:
          name: MAVEN_SETTINGS_XML
          default: {{ item.maven_settings }}
{% endif %}
{% if item.maven_opts is defined %}
      - string:
          name: MAVEN_OPTS
          default: "{{ item.maven_opts }}"
{% endif %}
{% if item.cron is defined %}
      - string:
          name: CRON_PATTERN
          default: "{{ item.cron }}"
{% endif %}
{% if item.poll_pattern is defined %}
      - string:
          name: POLL_PATTERN
          default: "{{ item.poll_pattern }}"
{% endif %}
    sandbox: true
    pipeline-scm:
      scm:
        - git:
            url: {{ jenkinsfile.git_repo }}
            branches:
              - origin/master
      script-path: {{ item.jenkinsfile_path }}
      lightweight-checkout: true
    build-discarder:
      days-to-keep: 30
      num-to-keep: 10
      artifact-days-to-keep: 60
      artifact-num-to-keep: 5

