---
- job:
    name: {{ item.id }}
    project-type: pipeline
    parameters:
      - string:
          name: GIT_REPOSITORY_URL
          default: {{ item.git_repo }}
{% if item.git_branch is defined %}
      - string:
          name: GIT_REPOSITORY_BRANCH
          default: {{ item.git_branch }}
{% endif %}
      - string:
          name: TO_ADDRESS
          default: {{ item.to }}
{% if item.cron is defined %}
      - string:
          name: CRON_PATTERN
          default: "{{ item.cron }}"
{% endif %}
      - string:
          name: HARMONIA_SCRIPT
          default: upgrade-components-report.sh
{% if item.poll_pattern is defined %}
      - string:
          name: POLL_PATTERN
          default: "{{ item.poll_pattern }}"
{% endif %}
    sandbox: true
    pipeline-scm:
      scm:
        - git:
            url: {{ jenkinsfile.git_repo }}
            branches:
              - origin/master
      script-path: {{ item.jenkinsfile_path }}
      lightweight-checkout: true
    build-discarder:
      days-to-keep: 30
      num-to-keep: 10
      artifact-days-to-keep: 60
      artifact-num-to-keep: 5


