#!/bin/bash
podman run --add-host=thunder.next:10.88.0.1 --workdir=/work \
	   -v /home/jenkins/jobs_definitions:/work:rw \
 	   -v /opt/:/opt:ro \
	   -t localhost/jenkins-job-builder /opt/tools/jobs-sync.sh
