---
- assert:
    that:
      - item is defined
      - item.owner is defined
      - item.tag is defined

- set_fact:
    podman_find_image_by_tag: "/usr/bin/podman images -q -n {{ item.tag }}"

- name: "Retrieve image id for tag {{ item.tag }} if exists."
  command: "runuser -l {{ item.owner }} -c 'podman images -q -n {{ item.tag }}'"
  register: inspect_results 
  changed_when: false

- set_fact:
    image_id: "{{ inspect_results.stdout }}"
  when:
    - inspect_results is defined
    - inspect_results.stdout is defined
    - inspect_results.stdout != ""

- set_fact:
    image_id: -1
  when:
    - image_id is not defined

- debug:
    msg: "IMAGE ID: {{ image_id }}"

