server_name {{ ansible_nodename }}; 
root /usr/share/nginx/html;

location / {
  error_page 404 /index.html;
  index /index.html;
} 

location /publish {
    autoindex on;
}

{% if payload_status is defined and payload_status.context is defined %}
location {{ payload_status.context }} {
  index /index.html ;
  access_log /var/log/nginx/payload_status-access.log ;
  error_log /var/log/nginx/payload_status-error.log ;
}
{% endif %}

{% if nginx.caches is defined %}{% for cache in nginx.caches.entry %}location {{ cache.path }} {
  access_log /var/log/nginx/cache-{{cache.name }}-access.log ;
  error_log /var/log/nginx/cache-{{ cache.name }}-error.log ;

  include /etc/nginx/commons.d/maven.cache.conf;
  proxy_pass {{ cache.url }};
}

{% endfor %}{% endif %}

{% if monit_nginx_proxy_enable is defined %}
location /monit/ {
  access_log /var/log/nginx/monit-access.log ;
  error_log /var/log/nginx/monit-error.log ;

  proxy_pass http://podman.host:2812/;
  proxy_redirect     off;
  proxy_set_header Authorization "Basic {{ encoded_monit_username_password }}";
  include /etc/nginx/commons.d/proxy.conf;
}
{% endif %}

{% if jenkins is defined %}
location /jenkins/ {
  add_header X-Cache-Status $upstream_cache_status;

  access_log /var/log/nginx/jenkins-access.log ;
  error_log /var/log/nginx/jenkins-error.log ;

  proxy_pass http://{{ jenkins.bind_addr }}:{{ jenkins.port }}/jenkins/ ;
  proxy_redirect     http://{{ jenkins.bind_addr }}:{{ jenkins.port }}/ https://{{ jenkins.bind_addr }};
  include /etc/nginx/commons.d/proxy.conf;
}
{% endif %}

# redirect server error pages to the static page /50x.html
error_page   500 502 503 504  /50x.html;
location = /50x.html {
    root   /usr/share/nginx/html;
}
