{
    "issueTrackerConfigs": [
        {
            "url": "{{ aphrodite.trackers.jira.url }}",
            "username": "{{ aphrodite.trackers.jira.username }}",
            "password": "{{ aphrodite.trackers.jira.password }}",
            "tracker": "{{ aphrodite.trackers.jira.type }}",
            "defaultIssueLimit": {{ aphrodite.trackers.jira.limit }}
        },
        {
            "url": "{{ aphrodite.trackers.bugzilla.url }}",
            "username": "{{ aphrodite.trackers.bugzilla.username }}",
            "password": "{{ aphrodite.trackers.bugzilla.password }}",
            "tracker": "{{ aphrodite.trackers.bugzilla.type }}",
            "defaultIssueLimit": {{ aphrodite.trackers.bugzilla.limit }}
        }
    ],
    "repositoryConfigs": [
        {
            "url": "{{ aphrodite.repos.github.url }}",
            "username": "{{ aphrodite.repos.github.username }}",
            "password": "{{ aphrodite.repos.github.password }}",
            "type": "{{ aphrodite.repos.github.type }}"
        }
    ],
    "streamConfigs": [
        {
            "url": "{{ aphrodite.streams.url }}",
            "type": "{{ aphrodite.streams.type }}"
        }
    ]
}
