---
- job:
    name: {{ item.id }}
    project-type: pipeline
    parameters:
{% if item.git_repo is defined %}
      - string:
          name: GIT_REPOSITORY_URL
          default: {{ item.git_repo }}
{% endif %}
{% if item.git_branch is defined %}
      - string:
          name: GIT_REPOSITORY_BRANCH
          default: {{ item.git_branch }}
{% endif %}
{% if item.to is defined %}
      - string:
          name: TO_ADDRESS
          default: {{ item.to }}
{% endif %}
{% if item.harmonia_script is defined %}
      - string:
          name: HARMONIA_SCRIPT
          default: {{ item.harmonia_script }}
{% endif %}
{% if item.java_home is defined %}
      - string:
          name: JAVA_HOME
          default: {{ item.java_home }}
{% endif %}
{% if item.maven_home is defined %}
      - string:
          name: MAVEN_HOME
          default: {{ item.maven_home }}
{% endif %}
{% if item.maven_goals is defined %}
      - string:
          name: MAVEN_GOALS
          default: "{{ item.maven_goals }}"
{% endif %}
{% if item.maven_settings is defined %}
      - string:
          name: MAVEN_SETTINGS_XML
          default: {{ item.maven_settings }}
{% endif %}
{% if item.maven_opts is defined %}
      - string:
          name: MAVEN_OPTS
          default: "{{ item.maven_opts }}"
{% endif %}
{% if item.version is defined %}
      - string:
          name: VERSION
          default: "{{ item.version }}"
{% endif %}
{% if item.script is defined %}
      - string:
          name: PATH_TO_SCRIPT
          default: "{{ item.script }}"
{% endif %}
{% if item.container_image is defined %}
      - string:
          name: BUILD_PODMAN_IMAGE
          default: "{{ item.container_image }}"
{% endif %}
{% if item.id.startswith('component-alignment') and component_alignment.config.loggerurl is defined %}
      - string:
          name: COMPONENT_UPGRADE_LOGGER
          default: "{{ component_alignment.config.loggerurl }}"
{% endif %}

    pipeline-scm:
      scm:
        - git:
            url: {{ jenkinsfile.git_repo }}
            branches:
              - origin/master
      script-path: {{ item.jenkinsfile }}
      lightweight-checkout: true
    build-discarder:
      days-to-keep: 30
      num-to-keep: 10
      artifact-days-to-keep: 60
      artifact-num-to-keep: 5
{% if item.poll_pattern is defined %}
    triggers:
      - pollscm:
          cron: "{{ item.poll_pattern }}"
      - timed: "{{ item.cron }}"
{% endif %}
