#!/bin/bash
podman run --add-host={{  known_hosts.server.name }}:{{ known_hosts.server.ip }} \
	   --workdir=/work \
	   -v /home/jenkins/jobs_definitions:/work:rw \
 	   -v /opt/:/opt:ro \
	   -t localhost/jbb /opt/tools/jobs-sync.sh
