{
    "issueTrackerConfigs": [
        {
            "url": "https://issues.jboss.org/",
            "username": "{{ jira.username }}",
            "password": "{{ jira.password }}",
            "tracker": "JIRA",
            "defaultIssueLimit": 10
        },
        {
            "url": "https://bugzilla.redhat.com/",
            "username": "{{ bugzilla.username }}",
            "password": "{{ bugzilla.password }}",
            "tracker": "BUGZILLA",
            "defaultIssueLimit": 10
        }
    ],
    "repositoryConfigs": [
        {
            "url": "https://github.com/",
            "username": "{{ github.username }}",
            "password": "{{ github.token }}",
            "type": "GITHUB"
        }
    ],
    "streamConfigs": [
        {
            "url": "file:///home/jboss/pull-request-processor/streams.json",
            "type": "JSON"
        }
    ]
}

