# The configuration you want to run

# Location of java in the JRE (the default)
#JAVA_HOME=/usr/lib/jvm/jre
# Use the following for location of java in the SDK
JAVA_HOME='{{ jboss.jvm.home }}'
JBOSS_HOME='{{ jboss.home }}'
JBOSS_CONFIG='{{ jboss.config }}'
JBOSS_USER='{{ jboss.user }}'
JBOSS_PORT_SHIFT='{{ jboss.port_shift }}'


JENKINS_HOME='{{ jenkins.home }} '

# Make sure java is on your path
#JAVAPTH="/usr/lib/jvm/jre/bin"

# Location to keep the console log, the file to be searched for the server 
# start up message besides /var/opt/rh/eap7/log/wildfly/standalone/server.log
#WILDFLY_CONSOLE_LOG=/var/opt/rh/eap7/log/wildfly/standalone/console.log

# Define the script to use to start wildfly
#WILDFLY_SH="/opt/rh/eap7/root/usr/share/wildfly/bin/standalone.sh"

# Define server configuration to start, eg. standalone.xml
WILDFLY_SERVER_CONFIG='{{ jboss.config }}'

# Define where wildfly module directory is
#WILDFLY_MODULEPATH="/opt/rh/eap7/root/usr/share/wildfly/modules"

# The address to bind to
WILDFLY_BIND='{{ jboss.bind_addr }}'

# Additionals args to include on startup
#WILDFLY_OPTS=""

JAVA_OPTS="-Djava.io.tmpdir={{ jboss.jvm.tmpdir }} -DHUDSON_HOME={{ jenkins.home }} -DJENKINS_HOME={{ jenkins.home }} -Xmx{{ jboss.jvm.memory }} -Xms{{ jboss.jvm.memory }} {{ jboss.jvm.memory_options }} {{ jboss.jvm.java_opts }} -Djboss.server.default.config='{{ jboss.config }}' -Djboss.bind.address='{{ jboss.bind_addr }}' -Djboss.bind.address.management={{ jboss.management_addr }} -Djboss.socket.binding.port-offset='{{ jboss.port_shift }}' "
