#/bin/bash

# Any argument passed to this script will simply passed over to the HARMONIA_BUILD_SCRIPT. To change the configuration of  this
# script override the parameters below:
{% if 'thunder' in ansible_hostname %}
readonly HARMONIA_REPOSITORY=${HARMONIA_REPOSITORY:-'git@github.com:jboss-set/harmonia.git'}
{% else %}
readonly HARMONIA_REPOSITORY=${HARMONIA_REPOSITORY:-'https://github.com/jboss-set/harmonia.git'}
{% endif %}
readonly HARMONIA_BRANCH=${HARMONIA_BRANCH:-'master'}
readonly HARMONIA_FOLDER=${HARMONIA_FOLDER:-'harmonia'}
readonly HARMONIA_BUILD_SCRIPT_NAME=${HARMONIA_BUILD_SCRIPT_NAME:-'eap-job.sh'}
readonly HARMONIA_BUILD_SCRIPT=${HARMONIA_BUILD_SCRIPT:-"${HARMONIA_FOLDER}/${HARMONIA_BUILD_SCRIPT_NAME}"}

{% if 'thunder' in ansible_hostname %}
readonly MAVEN_SETTINGS_XML=${MAVEN_SETTINGS_XML-'/home/master/settings.xml'}
{% else %}
readonly MAVEN_SETTINGS_XML=${MAVEN_SETTINGS_XML-'/home/jboss/settings.xml'}
{% endif %}

clean() {
  if [[ ! -z "${HARMONIA_FOLDER}" ]]; then
    rm -rf "${HARMONIA_FOLDER}"
  fi
}
trap clean EXIT

# if HARMONIA_VERBOSE_BUILD is set, execute build script with -x
if [ ! -z "${HARMONIA_VERBOSE_BUILD}" ]; then
  HARMONIA_VERBOSE_BUILD="-x"
fi

git clone -v --branch "${HARMONIA_BRANCH}" "${HARMONIA_REPOSITORY}" "${HARMONIA_FOLDER}"
if [ $? -eq 0 ]; then
  bash -x ${HARMONIA_VERBOSE_BUILD} "${HARMONIA_BUILD_SCRIPT}" ${@}
  JOB_RESULT=$?
else
  echo "Could not clone build script from ${HARMONIA_REPOSITORY} (${HARMONIA_BRANCH}) - aborting"
  exit 1
fi

exit $JOB_RESULT
