{% if item.hostname is not defined %}
{% set hostname = ansible_nodename %}
{% else %}
{% set hostname = item.hostname %}
{% endif %}

{% if item.port is not defined %}
{% set port = '443' %}
{% else %}
{% set port = item.port %}
{% endif %}

{% if item.protocol is not defined %}
{% set protocol = 'HTTPS' %}
{% else %}
{% set protocol = item.protocol %}
{% endif %}

{% if item.timeout is not defined %}
{% set timeout = '12' %}
{% else %}
{% set timeout = item.timeout %}
{% endif %}

if failed host {{ hostname }} port {{ port }}
        protocol {{ protocol }} request {{ item.path }} with timeout {{ timeout }} seconds then alert
