#
# The default server
#

# Caching static files for Jenkins
proxy_cache_path /home/jboss/jenkins_workspace/.http_cache levels=1:2 keys_zone=jenkins_cache:10m max_size=10g;
# Caching Maven central
proxy_cache_path {{ maven_http_cache_common_config.directory }} levels=1:2 keys_zone={{ maven_http_cache_common_config.name }}:20m max_size={{ maven_http_cache_common_config.max_size }} inactive={{ maven_http_cache_common_config.inactive }};

server {
    listen {{ ansible_nodename }}:80;
    server_name {{ ansible_nodename }};
    ssl off;

    location / {
      deny all;
    }

    location /jenkins {
      return 301 https://$host$request_uri;
    }
}

server {
    listen      {{ ansible_nodename }}:443 default_server;
    server_name {{ ansible_nodename }};

    error_page 404 /jboss-set-404.html;

    ssl on;
    ssl_certificate /etc/nginx/ssl/{{ ansible_nodename }}.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ ansible_nodename }}.key;
    # SSL optimisation - 1) connection credentials caching
    ssl_session_cache shared:SSL:1m; # 1mb holds 4000 sessions...
    ssl_session_timeout 180m;
    # SSL optimisation - 2) Prefer TLS
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    # SSL optimisation - 3) Prefer server ciphers
    ssl_prefer_server_ciphers on;
    ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;

    location / {
      index /jboss-set-404.html;
    }

    {% for maven_http_cache in maven_http_caches %}location {{ maven_http_cache.path }} {
       include /etc/nginx/commons.d/nginx.maven.cache.conf;
       proxy_pass {{ maven_http_cache.url }};
    }
    {% endfor %}

    {% for maven_http_cache_for_eap64 in maven_http_caches_eap64 %}{% if '6.4' in maven_http_cache_for_eap64.name %}location {{ maven_http_cache_for_eap64.path }} {
       include /etc/nginx/commons.d/nginx.maven.cache.conf;
       proxy_pass {{ maven_http_cache_for_eap64.url }};
       {% endif %}
    }
    {% endfor %}

    location /monit/ {
      auth_basic           "closed site";
      auth_basic_user_file /etc/nginx/monit.passwd;

      proxy_pass http://127.0.0.1:2812/;
      proxy_redirect     off;
      include /etc/nginx/proxy.conf;
    }

    location /jenkins {
      add_header X-Cache-Status $upstream_cache_status;
      proxy_cache jenkins_cache;

      proxy_pass http://{{ ansible_nodename }}:8480 ;
      proxy_redirect     http://{{ ansible_nodename }}:8480 https://{{ ansible_nodename }};
      include /etc/nginx/proxy.conf;
    }

    location /mjolnir {
      proxy_pass http://{{ ansible_nodename }}:8480 ;
      proxy_redirect     http://{{ ansible_nodename }}:8480 https://{{ ansible_nodename }};
      include /etc/nginx/proxy.conf;
    }

    location /mjolnir-dev {
      proxy_pass http://{{ ansible_nodename }}:8180 ;
      proxy_redirect     http://{{ ansible_nodename }}:8180 https://{{ ansible_nodename }};
      include /etc/nginx/proxy.conf;
    }

    location /prbz-overview {
      proxy_pass http://{{ ansible_nodename }}:8480 ;
      proxy_redirect     http://{{ ansible_nodename }}:8480 https://{{ ansible_nodename }};
      include /etc/nginx/proxy.conf;
    }

    location /vulas {
      root {{ vulas.homedir }};
      autoindex on;
    }

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
