{
    "issueTrackerConfigs": [
        {
            "url": "{{ aphrodite.jira_url }}",
            "username": "{{ jira.username }}",
            "password": "{{ jira.password }}",
            "tracker": "JIRA",
            "defaultIssueLimit": 1
        },
        {
            "url": "{{ aphrodite.bugzilla_url }}",
            "username": "{{ bugzilla.username }}",
            "password": "{{ bugzilla.password }}",
            "tracker": "BUGZILLA",
            "defaultIssueLimit": 1
        }
    ],
    "repositoryConfigs": [
        {
            "url": "{{ aphrodite.github_url }}",
            "username": "{{ github.username }}",
            "password": "{{ github.token }}",
            "type": "GITHUB"
        },
        {
            "url": "{{ aphrodite.gitlab_url }}",
            "username": "{{ gitlab.username }}",
            "password": "{{ gitlab.token }}",
            "type": "GITLAB"
        }
    ],
    "streamConfigs": [
        {
	    "url": "file:///home/jboss/prbz-overview/streams.json",
            "type": "JSON"
        }
    ]
}

