# Github account
github.organization=jbossas
github.repo=jboss-eap

# Github Authentication Info
github.login={{ github.username }}
github.token={{ github.token }}

# Bugzilla required properties
bugzilla.login={{ bugzilla.username }}
bugzilla.password={{ bugzilla.password }}

# Jenkins server required properties
jenkins.host=thunder.sin.redhat.com
jenkins.uri=/hudson
jenkins.port=8380
#jenkins.job.token=<secret>
jenkins.publish.url=http://thunder.sin.redhat.com:8380/hudson/job

# EAP version specific properties
versions=eap612,eap631,eap640

eap612.evaluator=org.jboss.pull.shared.evaluators.ParentBugBasedPullEvaluator
eap612.github.branch=6.1.x
eap612.github.organization.upstream=jbossas
eap612.github.repo.upstream=jboss-eap
eap612.github.branch.upstream=6.x
eap612.parent.bug=1073545
eap612.issue.fix.version=EAP 6.1.2

#eap622.evaluator=org.jboss.pull.shared.evaluators.ParentBugBasedPullEvaluator
#eap622.github.branch=6.2.x
#eap622.github.organization.upstream=jbossas
#eap622.github.repo.upstream=jboss-eap
#eap622.github.branch.upstream=6.x
#eap622.parent.bug=1049365
#eap622.issue.fix.version=EAP 6.2.2

eap631.evaluator=org.jboss.pull.shared.evaluators.ParentBugBasedPullEvaluator
eap631.github.branch=6.3.x
eap631.github.organization.upstream=jbossas
eap631.github.repo.upstream=jboss-eap
eap631.github.branch.upstream=6.x
eap631.parent.bug=1102082
eap631.issue.fix.version=EAP 6.3.1

eap640.evaluator=org.jboss.pull.shared.evaluators.BugFlagBasedPullEvaluator
eap640.github.branch=6.x
eap640.github.organization.upstream=wildfly
eap640.github.repo.upstream=wildfly
eap640.github.branch.upstream=master
eap640.required.flags=jboss-eap-6.4.0
eap640.issue.fix.version=EAP 6.4.0

# Processor properties
admin.list.file=/home/jboss/admin-list
eap62x.jenkins.job=pull-request-merger-6.2.x
eap63x.jenkins.job=pull-request-merger-6.3.x

jira.base.url=https://issues.jboss.org
