{
    "maxThreadCount": 10,
    "streamServiceUpdateRate": 12,
    "initialDelay": 10,
    "issueTrackerConfigs": [
        {
            "url": "https://issues.redhat.com/",
            "username": "{{ jira.username }}",
            "password": "{{ jira.password }}",
            "tracker": "JIRA",
            "defaultIssueLimit": 1
        },
        {
            "url": "https://bugzilla.redhat.com/",
            "username": "{{ bugzilla.username }}",
            "password": "{{ bugzilla.password }}",
            "tracker": "BUGZILLA",
            "defaultIssueLimit": 1
        }
    ],
    "repositoryConfigs": [
        {
            "url": "https://github.com/",
            "username": "{{ github.username }}",
            "password": "{{ github.token }}",
            "type": "GITHUB"
        }
    ],
    "streamConfigs": [
        {
            "url": "file://{{ pull_request_processor_home }}/streams.json",
            "type": "JSON"
        }
    ]
}
