jenkins:
  securityRealm:
    local:
      allowsSignup: false
      users:
       - id: {{ jenkins.admin.id }}
         password: {{ jenkins.admin.password }}

tool:

unclassified:
  location:
    url: https://{{ ansible_nodename }}/jenkins
  mailer:
    replyToAddress: {{ mailer.replyTo }}
    smtpHost: {{ mailer.smtp.host }}
    smtpPort: {{ mailer.smtp.port }}
