#!/bin/bash
set -eo pipefail

{% if item.image is defined %}
export PODMAN_IMAGE_NAME='{{ item.image }}'
{% endif %}

{% if item.readonly_volumes is defined %}
declare -A READONLY_VOLUMES
{% for vol in item.readonly_volumes %}
READONLY_VOLUMES['{{ vol.src }}']='{{ vol.dest }}'
{% endfor %}
export READONLY_VOLUMES
{% endif %}

{% if item.readwrite_volumes is defined %}
declare -A READWRITE_VOLUMES
{% for vol in item.readwrite_volumes %}
READWRITE_VOLUMES['{{ vol.src }}']='{{ vol.dest }}'
{% endfor %}
export READWRITE_VOLUMES
{% endif %}

{% if item.add_hosts is defined %}
declare -A ADD_HOSTS
{% for h in item.add_hosts %}
ADD_HOSTS['{{ h.src }}']='{{ h.ip }}'
{% endfor %}
export ADD_HOSTS
{% endif %}

{% if item.ports_mapping is defined %}
declare -A PORTS_MAPPING
{% for p in item.ports_mapping %}
PORTS_MAPPING['{{ p.src }}']='{{ p.dest }}'
{% endfor %}
export PORTS_MAPPING
{% endif %}

{% if item.ip is defined %}
readonly CONTAINER_STATIC_IP={{ item.ip }}
export CONTAINER_STATIC_IP
{% endif %}

