#!/bin/bash
podman run --add-host=localhost:{{ override_jenkins_bind_addr }} \
	   --workdir={{ jobs.descriptors.home }} \
	   -v {{ jobs.descriptors.home }}:{{ jobs.descriptors.home }}:rw \
 	   -v {{ jobs.synchronizer.home }}:{{ jobs.synchronizer.home }}:ro \
	   -t localhost/jbb {{ jobs.synchronizer.home }}/{{ jobs.synchronizer.script.name }} ${@}
